@model IEnumerable<ck_project.tax>

@{
    ViewBag.Title = "Tax";
}



<h2>Tax</h2>

<body>
    <table>
        @if (ViewBag.TaxList != null)
        {
            foreach (tax a in ViewBag.TaxList)
            {
                <tr>
                    <td>@a.tax_anme</td>
                    <td>@a.tax_value</td>
                    <td>@a.city</td>
                    <td>@a.state</td>
                    <td>@a.county</td>
                    <td>@a.zipcode</td>
                    <td>@a.start_date</td>
                    <td>@a.end_date</td>
                 
                </tr>
            }
            <tr>
                <td> <a href="/Lookup/ProjectClassAdd/">Add New</a></td>
            </tr>      }
    </table>
</body>

